{% extends "network/layout.html" %}

{% load custom_filters %}

{% block body %} 
<div class="top-content-div">
    <h1>#following</h1>
</div>
<form class="hidden">
    {% csrf_token %}
</form>
<div class="all-posts">
    {% for post in followed_posts %}
        <div class="card">
            {% if post.reply_to %}
                <div class="card-body card-body-reply">
            {% else %}
                <div class="card-body">
            {% endif %}
                <div class="post-id-div hidden">{{ post.id }}</div>
                <div class="card-top-div">
                    <div class="northwest-arrow">&#8689;</div>
                    <h5 class="card-title">
                        {% if post.user.first_name %}
                            {{ post.user.first_name }}.{{ post.user.last_name }}&nbsp;→&nbsp;
                        {% else %}
                            {{ post.user.username }}&nbsp;→&nbsp;
                        {% endif %}
                        <a class="handle-link" href="{% url 'profile' post.user.id %}">@{{ post.user }}</a>
                    </h5>
                    <span class="card-text post-timestamp">{{ post.timestamp }}</span>
                </div>
                <p class="card-text post-content" id="post-content-{{ post.id }}">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    {% if post.reply_to %}
                    <span class="tab-fwd">&#8618; <a href="{% url 'profile' post.reply_to.user.id %}"class="reply-to-link">@{{ post.reply_to.user.username }}</a></span>
                    {{ post.content }}
                    {% else %}
                    <span class="tab-fwd">&#8674;</span>
                    {{ post.content }}
                    {% endif %} 
                </p>
                <div class="likes-div">
                    {% if user.is_authenticated %}
                        {% if user in post.likes.all %}
                            <svg id="red-heart-{{ post.id }}" class="heart-icon" width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path id="red-heart-path-{{ post.id }}" d="M4.3314 12.0474L12 20L19.6686 12.0474C20.5211 11.1633 21 9.96429 21 8.71405C21 6.11055 18.9648 4 16.4543 4C15.2487 4 14.0925 4.49666 13.24 5.38071L12 6.66667L10.76 5.38071C9.90749 4.49666 8.75128 4 7.54569 4C5.03517 4 3 6.11055 3 8.71405C3 9.96429 3.47892 11.1633 4.3314 12.0474Z" fill="#F94056"/>
                                <path d="M4.3314 12.0474L12 20L19.6686 12.0474C20.5211 11.1633 21 9.96429 21 8.71405C21 6.11055 18.9648 4 16.4543 4C15.2487 4 14.0925 4.49666 13.24 5.38071L12 6.66667L10.76 5.38071C9.90749 4.49666 8.75128 4 7.54569 4C5.03517 4 3 6.11055 3 8.71405C3 9.96429 3.47892 11.1633 4.3314 12.0474Z" stroke="rgb(87, 94, 98)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        {% else %}
                            <svg id="empty-heart-{{ post.id }}" class="heart-icon" width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path id="empty-heart-path-{{ post.id }}" d="M4.3314 12.0474L12 20L19.6686 12.0474C20.5211 11.1633 21 9.96429 21 8.71405C21 6.11055 18.9648 4 16.4543 4C15.2487 4 14.0925 4.49666 13.24 5.38071L12 6.66667L10.76 5.38071C9.90749 4.49666 8.75128 4 7.54569 4C5.03517 4 3 6.11055 3 8.71405C3 9.96429 3.47892 11.1633 4.3314 12.0474Z" fill="#ffffff"/>
                                <path class="outline" d="M4.3314 12.0474L12 20L19.6686 12.0474C20.5211 11.1633 21 9.96429 21 8.71405C21 6.11055 18.9648 4 16.4543 4C15.2487 4 14.0925 4.49666 13.24 5.38071L12 6.66667L10.76 5.38071C9.90749 4.49666 8.75128 4 7.54569 4C5.03517 4 3 6.11055 3 8.71405C3 9.96429 3.47892 11.1633 4.3314 12.0474Z" stroke="rgb(87, 94, 98)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        {% endif %}
                    {% endif %}
                    <div class="card-bottom-div">
                        <div class="card-text small-grey-text">
                            {{ post.likes.count }} 
                            {% if post.likes.count == 1 %}
                                person/bot liked this post
                            {% else %}
                                people/bots liked this post
                            {% endif %}
                        </div>
                        <div>
                        {% if user == post.user %}
                            <a class="edit-post-link" href="#">Edit</a>
                            <form class="edit-post-form hidden">
                                {% csrf_token %}
                                <div class="post-id hidden">{{ post.id }}</div>
                                <textarea name="edit-post-content" class="edit-textarea form-control edit-post-content">{{ post.content }}</textarea>
                                <div class="btn-box">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button type="button" class="cancel-edit cancel-btn btn btn-secondary">Cancel</button>
                                </div>
                            </form>
                        {% else %}
                            {% if post.reply_to %}
                                <div></div>
                            {% else %}
                                <a class="reply-post-link" href="#">Reply</a><div class="reply-id hidden">{{ post.id }}</div>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
    {% if followed_posts.paginator.num_pages <= 1 %}
    {% else %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <div id="current_page" class="hidden">{{ followed_posts.number }}</div>
            {% if followed_posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ followed_posts.previous_page_number }}" aria-label="Previous">&lsaquo;</a>
                </li>
            {% endif %}
            
            {% for page in followed_posts.number|get_range:followed_posts.paginator.num_pages %}
                <li class="page-item"><a id="page-link-{{ page }}" class="page-link" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}

            {% if followed_posts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ followed_posts.next_page_number }}" aria-label="Next">&rsaquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ followed_posts.paginator.num_pages }}" aria-label="Last">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}