{% extends "network/layout.html" %}

{% block body %}
    <div class="follow-page-div">
        <h2>Followers</h2>
        <div class="follow-list">
            {% if followers.count == 0 %}
                <p>hmm...not too popular, are ya?</p>
            {% else %}
                {% for follower in followers %}
                    <div class="follow-item">
                        <a href="{% url 'profile' follower.id %}">@{{ follower }}</a>
                    </div>
                {% endfor %}
            {% endif %}
    </div>
{% endblock %}