{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Echo - Listen to Yourself{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'network/images/favicon_io/apple-touch-icon' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'network/images/favicon_io/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'network/images/favicon_io/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'network/images/favicon_io/site.webmanifest' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=M+PLUS+1+Code:wght@100..700&display=swap" rel="stylesheet">
        <script src="{% static 'network/scripts.js' %}" defer></script>
    </head>
    <body>
        <div id="faded-background" class="hidden"></div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="hero-div" href="{% url 'landing' %}">
                <img src="../../static/network/images/echo-logo-2.png" alt="hero" class="hero" height="30px" width="30px">
                <span class="navbar-brand">Echo</span>
            </a>

            <div>
              <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'all_posts' %}">All Posts</a>
                </li><span class="vert-bar-space">&nbsp;|&nbsp;</span>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'following' %}">Following</a>
                    </li><span class="vert-bar-space">&nbsp;|&nbsp;</span>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li><span class="vert-bar-space">
                    <li class="nav-item">
                        <a id="profile-link" class="nav-link" href="{% url 'profile' user.id %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li><span class="vert-bar-space">&nbsp;|&nbsp;</span>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            <form id="reply-form" class="hidden">
                {% csrf_token %}
                <div class="form-group" id="reply-form-group">
                    <label for="reply-content">Reply:</label>
                    <input type="hidden" id="reply-to-id" name="reply-to-id" value="">
                    <textarea class="form-control" id="reply-content"></textarea>
                    <div class="btn-box">
                        <button type="submit" class="btn btn-primary">Reply</button>
                        <button id="cancel-reply-button" type="button" class="cancel-reply cancel-btn btn btn-secondary">Cancel</button>
                    </div>
                </div>
            </form>
            <div id="faded-background-layout" class="hidden"></div>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>