{% extends "network/layout.html" %}

{% load custom_filters %}

{% block body %}



<div class="top-content-div">
    <h1>{{ profile_user.username }}'s Profile</h1>
    <div class="follow-div">
        {% if profile_user != user %}
            {% if profile_user in user.following.all %} 
                <button id="unfollow-button" class="follow-button btn btn-primary" data-profile-id="{{ profile_user.id }}">Unfollow</button>
                <button id="follow-button" class="follow-button btn btn-primary hidden" data-profile-id="{{ profile_user.id }}">Follow</button>
            {% else %}
                <button id="unfollow-button" class="follow-button btn btn-primary hidden" data-profile-id="{{ profile_user.id }}">Unfollow</button>
                <button id="follow-button" class="follow-button btn btn-primary" data-profile-id="{{ profile_user.id }}">Follow</button>               
            {% endif %}
        {% else %}
            <div id="hey-thats-you-div">↑ <span id="hey-thats-you">Hey, that's you!</span> ↑</div>
            <a id="edit-profile" href="#">→ <span id="edit-your-info">Edit Your Info</span> ←</a>
            
        {% endif %}
    </div>
    <div id="profile-info-div">
        <p class="info-text">Name: {{ user.first_name }} {{ user.last_name }}</p>
        <p class="info-text">Email: {{ user.email }}</p>
        <p class="info-text">Username: {{ user.username }}</p>
    </div>
        <p class="info-text">Followers → <span id="followers-count">{{ profile_user.followers.count }}</span></p>
        <p class="info-text">{{ profile_user.following.count }} ← Following</p>
    
</div>

<form id="edit-profile-form" class="hidden">
    {% csrf_token %}
    <div class="form-group">
        <div>
            <label for="edit-first-name">First Name</label>
            <input type="text" class="form-control" id="edit-first-name" name="edit-first-name" value="{{ profile_user.first_name }}">
        </div>
        <div>
            <label for="edit-last-name">Last Name</label>
            <input type="text" class="form-control" id="edit-last-name" name="edit-last-name" value="{{ profile_user.last_name }}">
        </div>
        <div>
            <label for="edit-email">Email</label>
            <input type="email" class="form-control" id="edit-email" name="edit-email" value="{{ profile_user.email }}">
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" class="form-control" id="edit-username" name="edit-username" value="{{ profile_user.username }}">
        </div>
    </div>
    <div class="btn-box">
        <button id="edit-prof-save-btn" type="submit" class="btn btn-primary">Save</button>
        <button id="edit-prof-cancel-btn" type="button" class="cancel-btn btn btn-secondary">Cancel</button>
    </div>

</form>

<div class="all-posts">
    {% for post in user_posts %}
        <div class="card">
            <div class="card-body">
                <div class="card-top-div">
                    <h5 class="card-title">
                        {% if post.user.first_name %}
                            {{ post.user.first_name }} {{ post.user.last_name }}&nbsp;→&nbsp;
                        {% else %}
                            {{ post.user.username }}&nbsp;→&nbsp;
                        {% endif %}
                        <a class="handle-link" href="{% url 'profile' post.user.id %}">@{{ post.user }}</a>
                    </h5>
                    <span class="card-text post-timestamp">{{ post.timestamp }}</span>
                </div>
                <p class="card-text post-content" id="post-content-{{ post.id }}">&nbsp;&nbsp;&nbsp;&nbsp;<span class="tab-fwd">&#10511;</span> {{ post.content }}</p>
                <div class="likes-div">
                    {% if user.is_authenticated %}
                        {% if user in post.likes.all %}
                            <svg id="red-heart-{{ post.id }}" class="heart-icon" width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path id="red-heart-path-{{ post.id }}" d="M4.3314 12.0474L12 20L19.6686 12.0474C20.5211 11.1633 21 9.96429 21 8.71405C21 6.11055 18.9648 4 16.4543 4C15.2487 4 14.0925 4.49666 13.24 5.38071L12 6.66667L10.76 5.38071C9.90749 4.49666 8.75128 4 7.54569 4C5.03517 4 3 6.11055 3 8.71405C3 9.96429 3.47892 11.1633 4.3314 12.0474Z" fill="#F94056"/>
                                <path d="M4.3314 12.0474L12 20L19.6686 12.0474C20.5211 11.1633 21 9.96429 21 8.71405C21 6.11055 18.9648 4 16.4543 4C15.2487 4 14.0925 4.49666 13.24 5.38071L12 6.66667L10.76 5.38071C9.90749 4.49666 8.75128 4 7.54569 4C5.03517 4 3 6.11055 3 8.71405C3 9.96429 3.47892 11.1633 4.3314 12.0474Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        {% else %}
                            <svg id="empty-heart-{{ post.id }}" class="heart-icon" width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path id="empty-heart-path-{{ post.id }}" d="M4.3314 12.0474L12 20L19.6686 12.0474C20.5211 11.1633 21 9.96429 21 8.71405C21 6.11055 18.9648 4 16.4543 4C15.2487 4 14.0925 4.49666 13.24 5.38071L12 6.66667L10.76 5.38071C9.90749 4.49666 8.75128 4 7.54569 4C5.03517 4 3 6.11055 3 8.71405C3 9.96429 3.47892 11.1633 4.3314 12.0474Z" fill="#ffffff"/>
                                <path class="outline" d="M4.3314 12.0474L12 20L19.6686 12.0474C20.5211 11.1633 21 9.96429 21 8.71405C21 6.11055 18.9648 4 16.4543 4C15.2487 4 14.0925 4.49666 13.24 5.38071L12 6.66667L10.76 5.38071C9.90749 4.49666 8.75128 4 7.54569 4C5.03517 4 3 6.11055 3 8.71405C3 9.96429 3.47892 11.1633 4.3314 12.0474Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        {% endif %}
                    {% endif %}
                    <div class="card-bottom-div">
                        <div class="card-text small-grey-text">
                            {{ post.likes.count }} 
                            {% if post.likes.count == 1 %}
                                person/bot liked this post
                            {% else %}
                                people/bots liked this post
                            {% endif %}
                        </div>
                        <div>
                        {% if user == post.user %}
                            <a class="edit-post-link" href="#">Edit</a>
                            <form class="edit-post-form hidden">
                                {% csrf_token %}
                                <div class="post-id hidden">{{ post.id }}</div>
                                <textarea name="edit-post-content" class="edit-textarea form-control edit-post-content">{{ post.content }}</textarea>
                                <div class="btn-box">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button type="button" class="cancel-edit cancel-btn btn btn-secondary">Cancel</button>
                                </div>
                            </form>
                        {% else %}
                            <a class="report-post-link" href="#">Report</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if user_posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ user_posts.previous_page_number }}" aria-label="Previous">&lsaquo;</a>
                </li>
            {% endif %}
            
            {% for page in user_posts.number|get_range:user_posts.paginator.num_pages %}
                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}

            {% if user_posts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ user_posts.next_page_number }}" aria-label="Next">&rsaquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ user_posts.paginator.num_pages }}" aria-label="Last">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

<script>
    const editProfileLink = document.querySelector("#edit-profile");
    const editProfileForm = document.querySelector("#edit-profile-form");
    const fadedBackground = document.querySelector("#faded-background");

    editProfileLink.addEventListener("click", () => {
        editProfileForm.classList.toggle("hidden");
        fadedBackground.classList.toggle("hidden");
        if (!fadedBackground.classList.contains("hidden")) {
            fadedBackground.addEventListener("click", () => {
                editProfileForm.classList.add("hidden");
                fadedBackground.classList.add("hidden");
            });
        }
        editProfileForm.querySelector("#edit-prof-cancel-btn").addEventListener("click", () => {
            editProfileForm.classList.add("hidden");
            fadedBackground.classList.add("hidden");
        });
    });
</script>


{% endblock %}