{% extends "network/layout.html" %}

{% block body %}

<h1>{{ profile_user.username }}'s Profile</h1>

<div class="floating-content-div">
    {% if profile_user != user %}
        {% if profile_user in user.following.all %} 
            <button id="unfollow-button" class="btn btn-primary">Unfollow</button>
        {% else %}
            <button id="follow-button" class="btn btn-primary">Follow</button>
        {% endif %}
    {% endif %}
    <p class="info-text">Followers: {{ profile_user.followers.count }}</p>
    <p class="info-text">Following: {{ profile_user.following.count }}</p>
</div>




{% endblock %}