/* UNIVERSAL & BASE STYLING */

:root {
    --primary-green: rgb(161,180,46);
    --primary-blue: rgb(36,94,122);
}




body {
    color: rgb(87, 94, 98);
    width: 100%;
    font-family: 'Cultive Mono', monospace;
    padding-bottom: 64px;
}
h1 {
    margin: 24px 0;
}
a {
    color: rgb(150, 158, 162);
    text-decoration: none;
    transition: 250ms;
}
a:hover {
    font-size: 1em;
    color: var(--primary-green);
    text-decoration: none;
}
.full-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bold {
    font-weight: bold;
}
.hidden {
    display: none !important;
}
.top-12 {
    margin-top: 12px;
}
.btn-box {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
}
.small-grey-text,
.reply-count-text,
.slant-divider {
    position: relative;
    top: 4px;
    font-size: 0.7em;
    color: rgb(113, 111, 111);
}
.reply-count-text {
    cursor: pointer;
    transition: 250ms;
}
.reply-count-text:hover {
    color: var(--primary-green);
}
#faded-background-layout,
#faded-background {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(16, 43, 51, 0.846);
    z-index: 9998;
}
#faded-background-light {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(26, 71, 85, 0.601);
    z-index: 999;
}




/* FORMS */

/* General Form Styles */
.form-control {
    font-size: 0.8em;
}
.form-control:active,
.form-control:focus {
    outline: 1px solid white !important;
    border: 1px solid rgb(16, 55, 74) !important;
    box-shadow: none !important;
}
form label {
    color: rgb(238, 238, 238);
}
.form-control-file {
    color: rgb(222, 222, 222);
}

/* Targeted Form Styles */
#reply-form,
#edit-profile-form, 
#edit-profile-picture-form,
#edit-password-form,
.edit-post-form {
    border: 1px solid rgb(222, 222, 222);
    border-radius: 12px;
    background-color: rgba(201, 228, 51, 0.626);
    padding: 12px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999 !important;
    min-width: 600px;
}

#edit-profile-picture-form {
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    min-width: 350px !important;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
#edit-only-profile-picture-input {
    font-size: 11px;
}
#edit-password-form,
#reply-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#edit-password-form {
    font-size: 0.9em;
    min-width: 300px;
}
#edit-password-form div input {
    margin-bottom: 12px;
}
#edit-profile-form {
    top: 50%;
    transform: translate(-50%, -50%);
}
#edit-profile-form .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: rgb(209, 202, 202)
}
#new-post-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
#new-post-form textarea {
    min-height: 200px;
}




/* BUTTONS */

/* General Button Styles */
.btn,
.cancel-btn {
    font-size: 12px;
    width: 100px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(104, 112, 117);
    border: none !important;
    outline: none !important;
    box-shadow: none;
    cursor: pointer;
    transition: 300ms;
}
.btn:focus {
    outline: none !important;
    border:  none !important;
    box-shadow: none !important;
    background-color: rgb(255, 255, 255);
    color: rgb(36,94,122);
}
.btn:hover {
    font-size: 13px;
    width: 108px;
    color: rgb(229, 229, 229);
    background-color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.454);
}
.btn:active {
    color: white;
    background-color: rgb(27, 73, 96) !important;
    transform: scale(0.90) !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.863) !important;
    outline: none !important;
    border: none !important;
}
.cancel-btn:hover {
    border: 1px solid rgb(178, 67, 44) !important;
    background-color: rgb(178, 67, 44);
    color: white;
}
.cancel-btn:active {
    background-color: rgb(127, 41, 24) !important;
    transform: scale(0.90) !important;
    box-shadow: 0 0 4px rgba(33, 38, 4, 0.559) !important;
    outline: none !important;
    border: none !important;
}

/* Targeted Button Styles */
#follow-button,
#unfollow-button {
    margin-top: 12px;
}
#follow-button {
    color: var(--primary-green);
    transition: 300ms;
}
#new-post-button {
    color: rgb(202, 200, 200);
    border: 1px solid rgb(200, 200, 200) !important;
}
#new-post-button:hover {
    color: white;
    background-color: var(--primary-green) !important;
    border: 1px solid var(--primary-green) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.454);
}
#new-post-button:active {
    color: white;
    background-color: rgb(36,94,122) !important;
    transform: scale(0.90) !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.863) !important;
    outline: none !important;
    border: none !important;
}
#unfollow-button:hover {
    background-color: rgb(178, 67, 44) !important;
}
#unfollow-button:active {
    background-color: rgb(127, 41, 24) !important;
    transform: scale(0.95) !important;
    box-shadow: 0 0 4px rgba(33, 38, 4, 0.559) !important;
    outline: none !important;
    border: none !important;
}





/* PAGINATION */
/* General Pagination */
.pagination{
    border-radius: 12px !important;
}
.page-item:first-of-type .page-link {
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
}
.page-item:last-of-type .page-link {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}
.page-link {
    font-size: 0.7em;
    color: rgb(150, 158, 162);
    transition: 250ms;
}
.page-link:hover {
    color: rgb(150, 158, 162);
    background-color: rgb(237, 236, 236);
    font-weight: bold;
    text-decoration: none;
}
.active-page-link {
    background-color: var(--primary-green) !important;
    color: white !important;
    font-weight: bold;
}
.pagination-nav-container {
    height: 54px;
}

/* Top Pagination controls */
#expand-top-pagination,
#collapse-top-pagination {
    cursor: pointer;
}
#expand-top-pagination {
    width: 32px;
    height: 64px;
}
#expand-top-pagination:hover .tp-bar {
    transition: 300ms;
    stroke:var(--primary-green);
}
#expand-top-pagination:hover .tp-arrow {
    transition: 300ms;
    stroke:rgb(16, 55, 74)
}
#collapse-top-pagination {
    position: relative;
    bottom: 16px;
    margin-top: 0;
    padding-top: 0;
}
#collapse-top-pagination:hover path {
    fill:rgb(16, 55, 74)
}




/* NAVIGATION */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    background-color: rgb(255, 255, 255) !important;
    transition: 600ms;
    height: 54px;
}
.vert-bar-space{
    color: white;
    position: relative;
    top: 6px;
}
.navbar-nav {
    position: absolute;
    top: 8px;
    right: 16px;
}
.navbar:hover {
    background-color: rgb(222, 222, 222) !important;
    height: 54px;
}
.nav-link {
    font-size: 0.9em;
    color: white !important;
    transition: 600ms;
}
.navbar:hover .nav-link:hover {
    color: rgb(36,94,122) !important;
}
.navbar:hover .nav-link:active {
    color: rgb(16, 55, 74) !important;
    font-weight: bold;
}
.hero-div {
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    transition: 350ms;
    z-index: 998;
}
.navbar:hover .hero-div {
    top: 0px;
    left: 16px;
    transform: none;
}
.navbar-brand {
    padding: 0;
    position: relative;
    top: 6px;
    right: 8px;
    font-size: 1.8em;
    font-weight: bold;
    font-family: "M PLUS 1 Code", monospace;
    color: rgb(36,94,122) !important;
}
#profile-link {
    position: relative;
    bottom: 6px;
    margin-left: 48px;
}
#card-pic-name-span-navbar {
    position: relative;
    bottom: 6px;
}
#card-pic-name-span-navbar:hover #nav-profile-picture-div {
    opacity: 1;
    width: 32px;
}
.card-pic-name-span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.card-bottom-left {
    display: flex;
    align-items: flex-start;
    gap: 8px;

}

.middot-1,
.middot-2 {
    transition: 300ms;
}




/* POST DISPLAY */
.top-content-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
#index-top-content-div {
    margin-bottom: 0px;
}

/* Post Cards */
.all-posts {
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card {
    border-radius: 16px;
    transition: 500ms;
}
.card:hover {
    background-color: rgb(243, 243, 243);;
    border: 1px solid var(--primary-green);
    box-shadow: 0 0 10px rgba(33, 38, 4, 0.559);
}
.card-body {
    width: 600px;
    transition: 350ms;
}
.card-body:hover {
    padding: 24px;
    width: 610px;
}
.card-title {
    font-size: 0.9em;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.handle-link {
    font-size: 0.7em;
}
.post-likes,
.edit-post-link,
.reply-post-link {
    font-size: 0.7em;
}
.reply-post-link:hover,
.edit-post-link:hover {
    font-size: 0.9em;
}
.post-timestamp {
    width: 100%;
    text-align: right;
    font-size: 0.7em;
    color: rgb(119, 112, 112);
}
.card-bottom-div,
.card-top-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card-top-div {
    margin-bottom: 10px;
}
.post-content {
    font-size: 0.8em;
}
textarea,
.edit-textarea {
    min-height: 100px;
    font-size: 0.8em;
    margin-bottom: 10px;
}
textarea:active,
textarea:focus {
    outline: 1px solid white !important;
    border: 1px solid rgb(16, 55, 74) !important;
    box-shadow: none !important;
}
.tab-fwd {
    font-size: 1.3em;
}
.likes-div {
    display: flex;
    align-items: center;
    gap: 8px;
}
.heart-icon {
    cursor: pointer;
    transition: 250ms;
}
.heart-icon:hover {
    transform: scale(1.4);
}
.reply-to-link,
#edit-post-link-1,
.edit-post-link-2 {
    font-size: 0.7em !important;
    color: rgb(150, 158, 162);
    transition: 250ms;
    cursor: pointer;
}
.reply-to-link:hover {
    font-size: 0.8em;
    color: var(--primary-green) !important;
}
.northwest-arrow {
    font-size: 1.3em;
    position: relative;
    color: rgb(193, 193, 193);
    bottom: 22px;
    right: 12px;
    cursor: pointer;
    transition: 250ms;
}
.northwest-arrow:hover {
    color: rgb(16, 55, 74);
}
.close-x {
    color: rgb(193, 193, 193);
    position: relative;
    bottom: 22px;
    left: 650px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 250ms;
}
.close-x:hover {
    color: rgb(16, 55, 74);
    font-size: 1.3em;
}




/* LANDING PAGE */
#landing-heading-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}
#landing-title {
    position: relative;
    top: 10px;
    font-size: 3.5em;
    font-family: "M PLUS 1 Code", monospace;
    color: rgb(36,94,122);
}
#landing-subtitle {
    font-size: 0.8em;
    background: -webkit-linear-gradient(left, var(--primary-green) , rgb(36,94,122));
    background: -o-linear-gradient(right, var(--primary-green), rgb(36,94,122));
    background: -moz-linear-gradient(right, var(--primary-green), rgb(36,94,122));
    background: linear-gradient(to right, var(--primary-green) , rgb(36,94,122)); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.landing-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    padding: 24px
}
.landing-3 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr !important;
}
.section-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-link {
    font-size: 1em;
    transition: 350ms;
}
#section-all-posts:hover, 
#section-login:hover {
    font-size: 1.2em;
    background: -webkit-linear-gradient(left, var(--primary-green) , rgb(120,153,71));
    background: -o-linear-gradient(right, var(--primary-green), rgb(120,153,71));
    background: -moz-linear-gradient(right, var(--primary-green), rgb(120,153,71));
    background: linear-gradient(to right, var(--primary-green) , rgb(120,153,71)); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#section-following:hover,
#section-register:hover {
    font-size: 1.2em;
    background: -webkit-linear-gradient(left, rgb(120,153,71) , rgb(72,119,100));
    background: -o-linear-gradient(right, rgb(120,153,71), rgb(72,119,100));
    background: -moz-linear-gradient(right, rgb(120,153,71), rgb(72,119,100));
    background: linear-gradient(to right, rgb(120,153,71) , rgb(72,119,100)); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
#section-profile:hover,
#section-all-posts-2:hover {
    font-size: 1.2em;
    background: -webkit-linear-gradient(left, rgb(72,119,100) , rgb(38,96,120));
    background: -o-linear-gradient(right, rgb(72,119,100), rgb(38,96,120));
    background: -moz-linear-gradient(right, rgb(72,119,100), rgb(38,96,120));
    background: linear-gradient(to right, rgb(72,119,100) , rgb(38,96,120)); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;     
}
#section-github-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
#github-text {
    font-size: 0.8em;
    opacity: 0;
    transition: 350ms;
}
#section-github-icon:hover #github-text {
    opacity: 1;
}
#github-icon {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    transition: 250ms;
}
#section-github-icon:hover #github-icon {
    height: 56px;
    width: 56px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.349);
    transition: 350ms;
}
#section-github-icon:hover #github-icon>path {
    transition: 350ms;
    fill: var(--primary-green);
}




/* PROFILE */
.follow-count-text {
    transition: 300m;
}
.follow-count-text:hover {
    font-weight: bold;
}
.follow-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
}
#hey-thats-you-div {
    color: rgb(36,94,122);
    margin: 24px 0;
}
#hey-thats-you {
    font-size: 0.9em;
}
#edit-profile,
#edit-password {
    margin-bottom: 8px;
    font-size: 0.8em;
}
#edit-profile:hover,
#edit-password:hover {
    font-size: 0.9em;
}
#profile-info-div {
    max-width: 450px;
    margin-top: 24px;
    margin-bottom: 16px;    
}
.info-text {
    font-size: 0.9em;
}




/* FOLLOWING PAGE */
.follow-page-div {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.follow-heading-div {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.follow-heading-div svg {
    position: relative;
    bottom: 6px;
    cursor: pointer;
}
#follow-back-icon:hover {
    transition: 250ms;
    width: 32px;
    height: 32px;
}
#follow-back-icon:hover path {
    transition: 250ms;
    fill: var(--primary-green);
}
.follow-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

}
.follow-item {
    margin-bottom: 8px;
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 8px;
}
.follow-item:hover {
    font-weight: bold;
    color: var(--primary-green);
    font-size: 1.1em;
}
.follow-item:hover .follow-profile-pic-div {
    height: 64px !important;
    width: 64px !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.454);
}

.follow-profile-pic-div {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    overflow: hidden;
    transition: 300ms;
}
.follow-profile-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 300ms;
}






/* SPECIFIC POST PAGE */
#post-page-back-div {
    height: 40px;
}
#back-arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 250ms;
}
#back-arrow:hover {
    width: 36px;
    height: 36px;
}
#back-arrow:hover path {
    transition: 250ms;
    fill: var(--primary-green);
}
.post-page-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 16px;
}
#post-replies-div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    align-items: center;
}
#main-post {
    z-index: 999;
}
.card-short .card-body {
    height: 100px !important;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.7em;
}
.card-short {
    cursor: pointer;
}
.card-short:hover .short-card-body {
    padding: 12px;
}
.card-full {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    border: 1px solid var(--primary-green);
    position: fixed;
    z-index: 9997;
}
.card-full .card-body {
    width: 100%;
}
.post-icon-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.short-card-body {
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.short-card-name-timestamp-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.short-card-content {
    width: 100%;
    text-align: left;
}




/* AUTHENTICATION PAGES */
.auth-content-div {
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.auth-form {
    width: 300px;
}
.auth-subtext {
    font-size: 0.7em;
}

.auth-btn {
    border: 1px solid rgb(222, 222, 222) !important;
}
.auth-btn:hover {
    border: 1px solid var(--primary-green) !important;
    background-color: var(--primary-green);
    color: white;
}


/* PROFILE PICTURES */

.profile-picture-div {
    border-radius: 50%;
    overflow: hidden;
    transition: 300ms;
}
.profile-picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 300ms;
}

#nav-profile-picture-div {
    opacity: 0;
    width: 1px;
    height: 32px;
    transition: 300ms;
}

.card-profile-picture-div {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    overflow: hidden;
    transition: 300ms;
}
.short-card-pic-div {
    height: 22px;
    width: 22px;
}

 
#profile-profile-picture-div,
#other-user-profile-picture-div {
    height: 250px;
    width: 250px;
}
#profile-profile-picture-div {
    cursor: pointer;
}
#profile-profile-picture-div:hover {
    height: 260px;
    width: 260px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.454);
}

#edit-profile-picture {
    width: auto;
    height: 24px !important;
    font-size: 12px !important;
}



#change-password-message-div,
.auth-message-div {
    position: fixed;
    top: 64px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999;
    width: 300px;
    padding: 12px;
    border-radius: 12px;
    background-color: rgb(91, 121, 45);
    color: rgb(209, 202, 202);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.454);
    text-align: center;
    font-size: 0.9em;
}
.error,
.auth-message-div {
    background-color: rgb(121, 41, 25) !important;
}



#edit-links-div {
    height: 0px;
    opacity: 0;
    transition: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
    transition: 500ms;
}
#hey-you-full-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hey-you-full-container:hover #edit-links-div {
    height: 64px;
    opacity: 1;
    transition: 300ms;
}


#delete-prof-pic-btn {
    width: auto !important;
    font-size: 0.7em;
    padding: 2px 8px !important;
}