



.hidden {
    display: none !important;
}

body {
    width: 100%;
    font-family: 'Cultive Mono', monospace;
}
h1 {
    margin: 24px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.top-content-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}








.btn-box {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
}
.small-grey-text {
    position: relative;
    top: 4px;
    font-size: 0.7em;
    color: rgb(113, 111, 111);
}


.likes-div {
    display: flex;
    align-items: center;
    gap: 8px;
}


.heart-icon {
    cursor: pointer;
    transition-duration: 250ms;
}

.heart-icon:hover {
    transform: scale(1.2);
}


/* LANDING PAGE */

.landing-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.landing-3 {
    grid-template-rows: 1fr 1fr 1fr !important;
}
.section-div {
    display: flex;
    justify-content: center;
    align-items: center;
}





/* Index */ 
#new-post-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

/* POSTS */
.card {
    border-radius: 16px;
}
.all-posts {
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card-body {
    width: 600px;
}

.card-title {
    font-size: 0.9em;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.handle-link {
    font-size: 0.8em;
}
.post-content,
.post-likes,
.edit-post-link,
.report-post-link {
    font-size: 0.8em;
}

.post-timestamp {
    width: 100%;
    text-align: right;
    font-size: 0.7em;
    color: rgb(119, 112, 112);
}

.card-bottom-div,
.card-top-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card-top-div {
    margin-bottom: 10px;
}

.edit-textarea {
    font-size: 0.8em;
    margin-bottom: 10px;
}
textarea:active,
textarea:focus {
    outline: 1px solid white!important;
    border: 2px solid rgb(99, 157, 174)!important;
}


#faded-background {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(16, 43, 51, 0.846);
    z-index: 999;
}

.tab-fwd {
    font-size: 1.3em;
}


/* PROFILE */
.follow-div {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 24px;
}
#hey-thats-you-div {
    color: rgb(68, 66, 66);
    margin-bottom: 48px;
}
#hey-thats-you {
    font-size: 1em;
}

#edit-profile {
    font-size: 0.8em;
}
#edit-profile-form, 
.edit-post-form {
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999;
    min-width: 600px;
}
#edit-profile-form {
    transform: translate(-50%, -50%);
}
#edit-profile-form .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: rgb(209, 202, 202)
}
.btn,
.cancel-btn {
    font-size: 12px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(209, 202, 202);
    color: black;
    border: none !important;
    outline: none !important;
    cursor: pointer;
    transition-duration: 250ms;
}
.btn:hover {
    background-color: rgb(99, 157, 174);
    color: white;
}
.cancel-btn:hover {
    background-color: rgb(178, 67, 44);
    color: white;
}

#profile-info-div {
    margin-bottom: 16px;    
}
.info-text {
    font-size: 0.9em;
}